<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>

<body class="m-0 p-0">
    <nav class="navbar navbar-lg navbar-dark bg-dark py-0 m-0 w-100 border-0">
        <div class="w-100 px-0">

            <div class="d-flex align-items-center">

                <a class="navbar-brand text-secondary fw-normal fs-6 ms-4 my-2" href="#">Start Bootstrap</a>

                <div class="navbar-nav d-flex flex-row">
                    <a class="nav-link text-secondary fs-6 mx-3 py-1" href="#">About</a>
                    <a class="nav-link text-secondary fs-6 mx-3 py-1" href="#">Services</a>
                    <a class="nav-link text-secondary fs-6 mx-3 py-1" href="#">Portfolio</a>
                    <a class="nav-link text-secondary fs-6 mx-3 py-1" href="#">Contact</a>
                </div>

            </div>

        </div>
    </nav>
</body>

</html>