<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tagline</title>
</head>

<body>
    <div class="position-relative w-100 m-0 p-0 overflow-hidden">
        <img src="assets/img/bg.jpg" class=" image w-100 h-auto d-block" alt="City">

        <div class="d-flex position-absolute top-0 left-0 start-0 w-100 px-4 pt-5 h-100 flex-column">

            <div class="bg-white w-100 text-center py-1 mt-5 shadow-sm">
                <h1 style="font-size: 120px;" class=" fw-bold text-dark m-0">One Page Wonder</h1>
            </div>

            <div class="bg-white w-100 text-center py-3 mt-3 shadow-sm">
                <h2 style="font-size: 70px;" class="fw-bold text-dark m-0">Will Knock Your Socks Off</h2>
            </div>

        </div>
    </div>
</body>

</html>
